<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!-- order -->
	<bean id="orderAction" class="com.cn.dsyg.action.OrderAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="orderService">
			<ref bean="orderService" />
		</property>
	</bean>
	
	<!-- shoppingcart -->
	<bean id="shoppingCartAction" class="com.cn.dsyg.action.ShoppingCartAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="productService">
			<ref bean="productService" />
		</property>
		<property name="customerService">
			<ref bean="customerService" />
		</property>
		<property name="mailAuthService">
			<ref bean="mailAuthService" />
		</property>
		<property name="orderService">
			<ref bean="orderService" />
		</property>
	</bean>
	
	<!-- product -->
	<bean id="productAction" class="com.cn.dsyg.action.ProductAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="productService">
			<ref bean="productService" />
		</property>
	</bean>

	<!-- mailAuth -->
	<bean id="mailAuthAction" class="com.cn.dsyg.action.MailAuthAction" scope="session">
		<property name="mailAuthService">
			<ref bean="mailAuthService" />
		</property>
	</bean>
	
	<!-- customer -->
	<bean id="customerAction" class="com.cn.dsyg.action.CustomerAction" scope="session">
		<property name="customerService">
			<ref bean="customerService" />
		</property>
		<property name="mailAuthService">
			<ref bean="mailAuthService" />
		</property>
	</bean>

	<!-- user -->
	<bean id="userAction" class="com.cn.dsyg.action.UserAction" scope="session">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<!-- userlogin -->
	<bean id="userLoginAction" class="com.cn.dsyg.action.UserLoginAction" scope="session">
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>
	
	<!-- 验证码 -->
	<bean id="randomActionBean" class="com.cn.dsyg.action.ValidateCodeAction" />
	
	<!-- 多语言拦截器 -->
	<bean id="languageInterceptorBean" class="com.cn.dsyg.interceptor.LanguageInterceptor"/>
	
	<!-- 登录拦截器 -->
	<bean id="loginInterceptorBean" class="com.cn.dsyg.interceptor.LoginInterceptor"/>

</beans>